

.drum-machine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: bisque;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  border: 10px solid white;
}
.drum-machine h1 {
  margin: 20px;
}
.display {
  width: 200px;
  padding: 8px 16px;
  margin: 16px auto;
  background-color: black;
  color: white;
  font-weight: bold;
}
.row {
  display: flex;
  justify-content: space-around;
}
.power-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.power-btn p {
  margin: 16px;
  font-weight: bold;
}
#btn-trigger {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid grey;
  display: inline-block;
  cursor: pointer;
}
.true {
  background-color: lime;
}
.false {
  background-color: red;
}

